@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "_partials/fontawesome/font-awesome";
@import "_partials/bootstrap/tables";
@import "_partials/bootstrap/tagsinput";
@import "_partials/trumbowyg/trumbowyg";

@for $h from 1 through 100 {
	.pt-#{$h} {
		padding-top: #{$h}px;
	}

	.pl-#{$h} {
		padding-left: #{$h}px;
	}

	.pr-#{$h} {
		padding-right: #{$h}px;
	}

	.pb-#{$h} {
		padding-bottom: #{$h}px;
	}

	.mt-#{$h} {
		margin-top: #{$h}px;
	}

	.ml-#{$h} {
		margin-left: #{$h}px;
	}

	.mr-#{$h} {
		margin-right: #{$h}px;
	}

	.mb-#{$h} {
		margin-bottom: #{$h}px;
	}
}

.body-wrapper {
}

.content-wrapper {
	margin-top: 50px;
}

.dashboard-content {

	.panel {

		.panel-heading {

			.panel-heading-number {
				font-size: 2.857142857em;
			}

			.panel-heading-text {
			}
		}

		&.panel-success {

			a {
				color: #3c763d;
			}
		}

		&.panel-warning {

			a {
				color: #8a6d3b;
			}
		}

		&.panel-danger {

			a {
				color: #a94442;
			}
		}
	}
}

.model-form,
.login-form {

	.input-group,
	.input[data-role="tagsinput"] {
		width: 100% !important;
	}

}

.fileinput-button {
	position: relative;
	overflow: hidden;
	display: inline-block;

	input {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		opacity: 0;
		-ms-filter: 'alpha(opacity=0)';
		font-size: 200px;
		direction: ltr;
		cursor: pointer;
	}
}

a {

	&.danger {
		color: $brand-danger;
	}

	&.success {
		color: $brand-success;
	}
}

div.editor {
	overflow: scroll;
	height: 300px;
	max-height: 300px;
	padding: 6px 12px;
	font-size: 14px;
	color: #555;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	border-radius: 4px;
	line-height: 1.42857;
	cursor: text;
	outline: none;
}

.glyphicon-undo {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";

	&:before {
		content: "\e030";
	}
}
